<h1>About Team</h1>

<div class = row>
	<div class= 'col-md-2'>
		<h4>Chief Operating Officer</h4>
		<%= image_tag "1.jpg"%>
		<h4>Sung Kun Bae</h4>
		
	</div>
	<div class= 'col-md-2'>
		<h4>Chief Technical Officer</h4>
		<%= image_tag "2.jpg"%>
		<h4>Sung Kun Kim</h4>
		
	</div>
	<div class= 'col-md-2'>
		<h4>Vice President of Marketing</h4>
		<%= image_tag "2.jpg"%>
		<h4>Soo yun Nam</h4>
		
	</div>
	<div class= 'col-md-2'>
		<h4>Vice President of Sales</h4>
		<%= image_tag "2.jpg"%>
		<h4>Yumi Kim</h4>
	</div>
	<div class= 'col-md-2'>
		<h4>Vice President of Sales</h4>
		<%= image_tag "2.jpg"%>
		<h4>Hae jun Shim</h4>
	</div>
	
	<div class= 'col-md-2'>
		<h4>Art Director    </h4><br>
		<%= image_tag "2.jpg"%>
		<h4>Jee yun Lee</h4>
	</div>
	
</div>

